<a class="skip-link" href="#main-content">Skip to main content</a>
<nav class="navbar navbar-expand-lg mwc-navbar fixed-top" aria-label="Primary">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <span class="brand-mark" aria-hidden="true">MW</span>
      Mental Wellness Connection
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mwcNav"
      aria-controls="mwcNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mwcNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" data-nav="about" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="programs" href="programs.html">Programs</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="get-help" href="get-help.html">Get Help</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="provider-partners" href="provider-partners.html">Provider Partners</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="internships" href="internships.html">Internships</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="volunteer" href="volunteer.html">Volunteer</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="resources" href="resources.html">Resources</a></li>
        <li class="nav-item"><a class="nav-link" data-nav="contact" href="contact.html">Contact</a></li>
        <li class="nav-item nav-cta">
          <a class="btn btn-mwc-primary btn-sm" href="donate.html">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
